$texas-rose: #ffbb55;
$tuna: #333344;
$porsche: #eebb66;
$gun-powder: #444455;
$pickled-bluewood: #334455;
$dolphin: #666677;
$storm-gray: #777788;
$flax: #eecc88;
$cape-code: #445555;
$slate-gray: #778899;
$steel-gray: #222233;
$almond: #eeddcc;
$santas-gray: #9999aa;
$titan-white: #eeeeff;
$waterloo: #779999;
$malta: #bbaa99;
$bone: #ddccbb;
$coral-reef: #ccbbaa;
